%h2 確認メールが届かない場合
= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  .form-inputs
    = f.input :email,
      required: true,
      autofocus: true,
      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
      input_html: { autocomplete: "email" }
  .form-actions
    = f.button :submit, '確認メールを再送する'
= render "users/shared/links"
