%p
  こんにちは #{@resource.email}!
%p どなたかがパスワードの変更をリクエストしました。以下のリンクから変更できます。
%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
%p もしリクエストしていない場合は、このメールを無視してください。
%p パスワードは、上記のリンクをクリックして新しいパスワードを設定するまで変更されません。
